 .center{
  margin: auto;
  margin-top: 30px;
 }
 
 .left{
  margin-left: 20px;
 }

.width{
  width: 90%;
}
  
 .submit{
  margin-bottom: 20px;
 }

 .contact{
  border:1px rgb(165, 161, 161) solid;
  width:29% ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
  margin-left: 40px;
  margin-top: 30px;
  
 }

 .name{
  background-color: rgb(233, 227, 227);
 }
 .icon{
  float: right;
  margin: auto;
 }